.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-grid {
  display: grid;
  column-gap: 0.5em;
  row-gap: 0.5em;

  grid-template-columns: repeat(3, 200px);
}

.dashboard-grid .dashboard-item {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 3px 6px #ddd;
}

.dashboard-grid .dashboard-item .dashboard-item--title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.3em;
}

.dashboard-grid .dashboard-item .dashboard-item--description {
  text-align: center;
  font-size: 0.9em;
  color: #888;
}
